---
import {urlFor} from "../utils/image";
import type {Wish, PostRank} from "../utils/sanity";

interface Props {
    wish: Wish;
    rank: PostRank;
}

const {
    wish,
    rank
} = Astro.props;
---

<div class="max-w-xl w-full">
    {
        wish.mainImage && (
                    <img
                            class="w-52 max-h-80 md:w-48 md:h-auto rounded-md border-2 object-cover"
                            src={urlFor(wish.mainImage).url()}
                            alt={wish.title}
                    />
        )
    }
    <div class="pt-4 md:text-left space-y-4">
        <!--TODO-->
        <!--<a href={`/wish/${wish.slug.current}`}>-->
        <div class="text-3xl font-bold text-green-500">
            {rank + 1}. {wish.title}
        </div>
        <!--</a>-->
        {wish.excerpt && (
                <div class="text-xl text-slate-700 mt-3">
                    {wish.excerpt}
                </div>
        )}
    </div>
</div>
