---
import { Image } from 'astro:assets';
import {client as sanityClient} from "../sanity";
import juleMathias from "../images/julemathias.jpg";
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import {getLastModified, getWishes} from '../sanity';
import {getCurrentYear} from "../utils";

const year = getCurrentYear();
const wishes = await getWishes(sanityClient);
const lastModifiedTimestamp = await getLastModified(sanityClient);
---

<Layout title={`Julegaveønsker Mathias ${year}`}>
    <div class="py-16 flex flex-col items-center justify-center">
        <header>
            <div class={"px-8 flex flex-col md:items-center"}>
                <Image alt="Mathias" loading="lazy" width="360" height="360" decoding="async" data-nimg="1"
                     class="w-36 h-36 rounded-full border-4 border-red-700 object-cover bg-red-700 transition-transform duration-1000 hover:rotate-180 motion-reduce:transition-none"
                     style="color:transparent" src={juleMathias} />
                <h1 class={"m-0 text-4xl md:text-5xl mt-6 text-red-700 font-bold"}>
                    {wishes.length} tips til årets julehandel
                </h1>
            </div>
        </header>
        <section class="flex flex-col w-full max-w-xl gap-2 mt-8">
            {wishes.map((wish, index) => (
                    <>
                        <hr class="border-t-2"/>
                        <div class="px-8 my-6">
                            <Card wish={wish} rank={index}/>
                        </div>
                    </>
            ))}
            <hr class={"border-t-2"}/>
        </section>
        <footer class="mt-12 flex flex-col items-center gap-2">
            {lastModifiedTimestamp && (
                    <p class="text-gray-500">Sist oppdatert {lastModifiedTimestamp}</p>
            )}
            <p>❤️</p>
        </footer>
    </div>
</Layout>
